@import 'partials/base';
@import 'partials/backdrop/base';
@import 'partials/backdrop/menu';
@import 'partials/front-layer/base';
@import 'partials/front-layer/copyright';


h1, h2, p, a {
  margin: 0.5rem 1rem;
}

h1, h2 {
  margin-top: 1rem;
  text-align: center;
}

.front-layer {
  padding-bottom: 5rem;
  display: flex;
}

.about-container {
  flex-grow: 1;
  overflow-y: auto;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  .about {
    flex-grow: 1;
  }

  .contact {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    flex-direction: column;

    h2 {
      grid-column: 1/3;
    }
  }
}
