@import '../colors';
@import '../btn';

.chat {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .messages {
    flex-grow: 1;
    background-color: white;
    margin: 0.5rem;
  }

  .input-message {
    display: flex;
    margin: 0.5rem;

    input {
      font-size: 2rem;
      flex-grow: 1;
    }

    .btn {
      margin-left: 1rem;
    }
  }
}
