.front-layer {
  @keyframes start {
    from {top: 100vh;}
    to  {top: 0;}
  }

  position: relative;
  border: none;
  border-radius: 16px 16px 0 0;
  min-height: 0;
  height: 100%;

  box-sizing: border-box;
  background-color: white;
  margin-top: 8px;
  animation-name: start;
  animation-duration: 1s;
  animation-timing-function: ease;
  color: black;

  display: flex;
  flex-direction: column;
}
