@import './colors';

.game-window {
  width: calc(100% - 2rem);
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $secondary-light;
  margin: 1rem;
  margin-bottom: 2rem;
  border-style: none;
  border-radius: 8px;
}
