.modal {
  .modal-title {
    white-space: nowrap;
    overflow: hidden;
  }

  .modal-body {
    display: grid;
    grid-template-columns: 10em 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 0.5rem;

    &.frst-warning {
      grid-template-rows: 1fr 1rem 1fr 1fr;
    }

    &.scnd-warning {
      grid-template-rows: 1fr 1fr 1rem 1fr;
    }

    div {
      display: contents;
      font-size: 1.25rem;

      label {
        margin-right: 2rem;
        grid-column: 1 / 2;
        line-height: 1.25em;
      }

      input {
        grid-column: 2 / 3;
        border-color: none;
      }

      span {
        margin-top: -0.5rem;
        grid-column: 1 / 3;
        color: $primary-warning-text;
        background-color: $primary;
        font-size: 0.9rem;
        line-height: 1.2rem;
        padding: 0.25rem;

        &.hidden {
          display: none;
        }
      }

      button {
        grid-column: 1 / 3;
      }
    }
  }
}
