.modal {
  .modal-title {
    white-space: nowrap;
    overflow: hidden;
  }

  .modal-body {
    display: grid;
    grid-template-columns: 10em 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 0.5rem;

    div {
      display: contents;
      font-size: 1.25rem;

      label {
        flex-basis: 30%;
        margin-right: 2rem;

        grid-column: 1 2;
      }

      input {
        flex-basis: calc(70% - 2rem);
        grid-column: 2 3;
      }
    }
  }
}
