@import '../colors';

.backdrop {
  background-color: $secondary;
  color: $secondary-text;
  font-size: 1rem;

  .header-bar {
    display: flex;
    align-items: center;

    @media (max-height: 550px) {
      margin-top: 0.125rem;
    }

    .menu-icon {
      background-image: url("../ressources/menu.png");
      background-position: center;
      background-repeat: no-repeat;
      width: 36px;
      height: 36px;
      padding: 4px;
      margin: 1rem;
      display: inline-block;
      border: none;
      border-radius: 32px;
      transition: background-color 100ms ease;

      @media (max-height: 550px) {
        padding: 0;
        margin: 0.125rem;
      }

      &:hover {
        background-color: $secondary-dark;
      }

      &.open {
        background-image: url("../ressources/menu_close.png");
      }
    }

    .header {
      margin: 0;
      padding: 16px;
      text-align: center;
      flex-grow: 1;

      @media (min-width: 450px) {
        margin-right: 56px;
      }

      @media (max-height: 550px) {
        padding: 0;
      }
    }
  }
}
