$primary: #212121;
$primary-disabled: #21212161;
$primary-light: #484848;
$primary-dark: #000000;
$primary-text: #ffffff;
$primary-text-disabled: #ffffff61;
$secondary: #546e7a;
$secondary-disabled: #546e7a61;
$secondary-half-dark: #3e5864;
$secondary-dark: #29434e;
$secondary-dark-transparent: #29434e61;
$secondary-light: #819ca9;
$secondary-light-transparent: #819ca961;
$secondary-text: #ffffff;
$secondary-text-disabled: #ffffff61;
